@import '_variables.scss';

.footer {
  padding-top: 45px;
  padding-bottom: 51px;
  color: $white;
  background: $dark;

  &__list:not(:last-child) {
    margin-right: 212px;
  }

  &__margin-link:not(:last-child) {
    margin-bottom: 9px;
  }

  &__subtitle {
    font-size: 15px;
    font-weight: 900;
    line-height: 28px;
    text-transform: uppercase;
  }

  &__link {
    font-size: 15px;
    line-height: 28px;
    color: #DCDCE0;
  }

  &__margin-logo {
    margin-top: 58px;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__link:focus,
  &__logo:focus {
    outline: none;
  }
}