@import '_variables.scss';

.header {
  padding-top: 33px;
  padding-bottom: 33px;
  color: $white;
  background: $dark;

  &__logo {
    flex-shrink: 0;
  }

  &__margin-link:not(:last-child) {
    margin-right: 61px;
  }

  &__link {
    position: relative;
    font-family: 'RFDewiExtended', sans-serif;
    font-size: 14px;
    font-weight: 600;
  }

  &__margin-link:not(:nth-child(5)) &__link::after {
    position: absolute;
    top: 5px;
    right: -13px;
    content: "";
    display: inline-block;
    border-right: 1px solid;
    border-bottom: 1px solid;
    width: 5px;
    height: 5px;
    opacity: 0.3;
    transform: rotate(45deg);
    transition: transform 0.2s ease;
    transform-origin: center;
  }

  &__margin-icon:not(:last-child) {
    margin-right: 32px;
  }

  &__price,
  &__quantity {
    font-family: 'CeraPro', sans-serif;
    font-weight: 700;
  }

  &__price {
    margin-left: 6px;
    margin-right: 5px;
    font-size: 13px;
    line-height: 10px;
    color: #8C8F96;
  }

  &__quantity {
    text-align: center;
    border-radius: 50%;
    padding-top: 3px;
    width: 18px;
    height: 18px;
    font-size: 12px;
    background: #49D0FF;
  }

  &__logo:focus,
  &__link:focus,
  &__icon:focus {
    outline: none;
  }
}

@media (max-width: 1260px) {
  .header {
    &__menu {
      display: none;
    }
  }
}